@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("norse.bold.otf") format("opentype");
}

$teal:   #6abfc3;
$orange: #ce973e;
$grey:   rgba(74,74,74,0.7);

body > * {
  font-family: 'Open Sans', sans-serif;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 1.2em 3em;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 0 .5em #aaa;
  border-radius: 5px;
}
.logo {
  align-items: center;
  font-family: Norse, sans-serif;
  font-weight: bold;
  color: $orange;
  > a:last-child {
    margin-left: .5em;
    white-space: nowrap;
    text-shadow: .02em .02em $orange;
  }
  img {
    height: 60px;
  }
}
h2 {
  font-weight: bold;
}
p {
  font-size: 1.4em;
  line-height: 1.8;
  color: $grey;
}

/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  white-space: nowrap;
  background-color: #fff;
  > * {
  display: flex;
  align-items: center;
  }
  .logo > a:last-child {
      font-size: 25px;
  }
}
#menu {
  margin-left: 1em;
  > a:first-child {
    color: $teal;
    font-size: 30px;
  }
  ul {
    display: none;
    margin-bottom: 0;
  }
  li {
    font-size: 1.2em;
    font-weight: bold;
    color: $grey;
  }
  li > * {
    padding: .5em;
  }
  li:nth-child(2) a {
    position: relative;
  }
  li:nth-child(2) a::after {
    display: inline-block;
    border-top: 4px solid $grey;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 0.4em;
    vertical-align: 0.3em;
    content: "";
  }
  li > a:hover,
  li > a:hover:after {
    color: #000;
    border-top-color: #000;
  }
}

/* HEADER */

header {
  margin-top: 100px;
  text-align: center;
  background: linear-gradient(to bottom, #fff, #eee);
  h1 {
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 2.8em;
    font-weight: 300;
    line-height: 1.2;
    color: $orange;
  }
  p {
    margin-bottom: 60px;
  }
  .btn {
    margin-bottom: 50px;
    background-color: $teal;
    border-color: $teal;
  }
  .btn:hover {
    background-color: lighten($teal, 10%);
  }
  img {
    width: 100%;
  }
}

/* HOW */

#how {
  > * {
    margin-right: auto;
    margin-left: auto;
  }
  h2 {
    margin-bottom: 50px;
  }
  > p {
    margin-bottom: 50px;
  }
  li {
    padding-right: 70px;
    padding-left: 70px;
    img {
      height: 120px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

/* COURSES */

#courses {
  background-color: #f3f3F3;
  h2 {
    margin-bottom: 40px;
  }
  ul {
    max-width: 950px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    height: 150px;
    width: 270px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 1em #ddd;
  }
  img {
    height: 80px;
    margin-bottom: .5em;
  }
  figcaption {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .btn {
    background-color: $orange;
    border-color: $orange;
  }
  .btn:hover {
    background-color: lighten($orange, 10%);
  }
}

/* SUCCESS STORIES */

#success-stories {
  background: linear-gradient(to bottom, #fff, #eee);
  > a {
    display: inline-block;
  }
  h2 {
    margin-bottom: 80px;
  }
  li {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    text-align: left;
    img {
      height: 50px;
      margin: 15px 25px;
      border-radius: 50%;
    }
    div {
      flex: 1;
    }
    h3 {
      margin-bottom: 10px;
      font-size: 1.5em;
      color: $orange;
    }
    a:hover {
      color: #000;
    }
  }
  #read-more {
    margin-bottom: 60px;
    font-size: 1.2em;
    text-decoration: underline;
    color: $grey;
  }
  #read-more:hover {
    color: #000;
  }
  > p {
    margin-bottom: 35px;
    font-size: 2.5em;
    font-weight: 300;
  }
  .btn {
    background-color: $teal;
  }
  .btn:hover {
    background-color: lighten($teal, 10%);
  }
}

/* FOOTER */

footer {
  height: 140px;
  align-items: center;
  .logo {
    display: none;
    justify-content: center;
    font-size: 20px;
    > a:last-child {
      margin-left: .5em;
    }
  }
  ul {
    margin-bottom: 0;
  }
  .links {
    justify-items: center;
    a {
      font-size: 1.2em;
      font-weight: bold;
      line-height: 2;
      white-space: nowrap;
      color: $grey;
    }
    a:hover {
      color: #000;
    }
  }
}
#social-media {
  grid-gap: 5px;
  text-align: center;
  a {
    font-size: 1.6em;
    color: $orange;
  }
  a:hover {
    color: #000;
  }
}

/* MEDIA QUERIES */

@media (min-width: 560px) {
  #courses {
    li {
      height: 256px;
      width: 254px;
      margin: 15px;
    }
    img {
      height: 160px;
      margin-bottom: 1em;
    }
  }
  #social-media {
    a {
      font-size: 2em;
    }
  }
}

@media (min-width: 768px) {
  nav {
    position: static;
    justify-content: flex-start;
    padding: 0 168px;
  }
  #menu {
    > a:first-child {
      display: none
    }
    ul {
      display: flex;
    }
  }
  header {
    margin-top: 50px;
  }
  #how {
    > p {
      width: 600px;
    }
    ul {
      max-width: 1110px;
    }
    li {
      padding-right: 1em;
      padding-left: 1em;
      img {
        height: 165px;
      }
    }
  }
  footer {
    height: 250px;
    .logo {
      display: flex;
    }
  }
}

@media (min-width: 1024px) {
  nav {
    justify-content: space-between;
    .logo > a:last-child {
        font-size: 35px;
    }
  }
  .logo img {
    height: 70px;
  }
  footer .logo > a:last-child {
    font-size: 25px;
  }
}

@media (min-width: 1185px) {
  #success-stories {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
